<h1>Listing posts</h1>

<table>
  <tr>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.body %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>

<div id="timeline"></div>

<div id="posts"></div>

<div id="pubnub" pub-key="pub-02dcd9e4-010e-45ad-97da-85286bfa8122" sub-key="sub-86d53059-d0b0-11e1-9217-bbb8cde722e4" ssl="off" origin="pubsub.pubnub.com"></div>

<script type="text/JavaScript" src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script> 

<script type="text/javascript">
  $(function() {
    // Chat is the app name
    window.router = new Chat.Routers.PostsRouter({posts: <%= @posts.to_json.html_safe -%>});
    Backbone.history.start();
  });

  function updateTimeline(message) {
    //var html = JST['update'](jQuery.parseJSON(message));
    $('#timeline').prepend(jQuery.parseJSON(message).body + "<br/>");
  }

  // Listen for Messages
  PUBNUB.subscribe({
    channel: "1",
    callback: function(message) {
      updateTimeline(message)
      //alert(message);
    }
  })
</script>